TeamPlanBuch/build.xml
TeamPlanBuch/local.properties
TeamPlanBuch/ant.properties
TeamPlanBuch/build.xml
TeamPlanBuch/local.properties
TeamPlanBuch/project.properties
TeamPlanBuch/bin
TeamPlanBuch/gen
*.cache
*.project